@charset "UTF-8";

.card-container {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  max-width: 480px;
  min-height: 100%;
  margin: 8px auto;
  border-radius: 8px;
}

.card-container .card-image {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.card-container .card-content-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 12px;
}

.card-container .card-content-bottom h3 {
  color: #000;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0;
  margin-bottom: 12px;
}

.card-container .card-content-bottom form {
  width: calc(100% - 16px);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-container .card-content-bottom form div{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.card-container .card-content-bottom form div label{
  font-size: .9em;
  color: #888;
}

.card-container .card-content-bottom form div #score, #email{
  text-align: center;
  border: 1px solid #888;
  border-radius: 8px;
  height: 32px;
}

.card-container .card-content-bottom .card-button {
  background-color: var(--primary-color);
  letter-spacing: 1px;
  align-self: center;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 4px 32px;
}
