@charset "UTF-8";

.score-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.score-value{
  color: goldenrod;
  font-size: 1.4em;
}

.score-count{
  color: #888;
}
